*
{
    margin: 0;
    padding: 0;
}

title
{
    text-align: center;
}
body
{
    min-height: 300vh;
    background-image: linear-gradient(rgba(59, 65, 62, 0.763) 15%, #072808a2 100%), url(background1.jpeg);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h1
{
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
}

h2
{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
}

option
{
    background-color: rgba(0, 0, 0, 0.345)
}

.searchContainer
{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

#keywordField
{
    text-align: center;
    width: 400px;
    height: 35px;    
    border: none;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.119);  
    backdrop-filter: blur(5px);
    font-family: "Poppins", sans-serif;
    color: white;
}

#stateField
{
    font-family: "Poppins", sans-serif;
    color: white;
    margin-left: 10px;
    padding-left: 10px;
    text-align: center;
    width: 130px;
    height: 35px;    
    border: none;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.119);  
    backdrop-filter: blur(5px);
}

.searchContainer #submit
{
    margin-left: 30px;
    width: 140px;
    height: 35px;
    
    border: none;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.557);  
    backdrop-filter: blur(5px);
    font-family: "Poppins", sans-serif;
    color: rgb(2, 70, 0);
}

.searchContainer #submit:hover
{
    background-color: rgba(255, 255, 255, 0.119);
}

.dailyLocations
{
    font-family: "Poppins", sans-serif;
    color: white;
    margin-left: 10px;
    padding-left: 10px;
    text-align: center;
}
.result
{
    text-decoration: none;  
    margin: none;
    padding-bottom: 30px;
    margin: auto;
    width: 50%;
    max-width: 800px;
    margin-top: 50px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.119);  
    backdrop-filter: blur(5px);
    transition: all 0.2s;
}

.result:hover
{
    transform: scale(1.05);
}

.result h1
{
    font-size: 30px;
    color: white;

}


.result p
{
    margin-top: 10px;
    margin-left: 10%;
    width: 80%;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: white;

}

a
{
    text-decoration: none;
}

.result img
{
    margin-top: 30px;
    margin-left: 12.5%;
    width: 75%;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.557); 
}

#center
{
    font-family: "Poppins", sans-serif;
    color: white;
    margin-left: 10px;
    padding-left: 10px;
    text-align: center;
    justify-content: center;
    margin: bottom;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 50%;
    height: 375px;
    background-color: rgb(242, 233, 186);
    border-radius: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;
    display: none;
}

#flightWidget
{
    display: non;
}
